.wrapper
    .banner
        .banner__wrap 
            .banner__main-title Всесвіт гри чекає
            .banner__person
                img(src="./img/person.png" alt="Favbet")
            .banner__content
                .banner__title loading...
                .banner__bonus
                    img(src="./img/progress-bar.png" alt="Favbet")
        .banner__decoration
            img(src="./img/circle-arcs.png" alt="Favbet")